
@{
    Layout = null;
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Anasayfa</a></li>
            <li><a href="/Yonetim/Index/UrunEkle">Ürün Ekleme</a></li>
            <li><a href="/Yonetim/Index/KategoriEkle">Kategori Ekleme</a></li>
           
        </ul>
    </div>
</nav>
